body {
    padding: 0;
    margin: 0;
}

h1 {
    font-style: italic;
}

img {
    display: inline-block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

footer p {
    text-align: center;
}